.spanBlock {
    display: flex;
    align-items: center;
    gap: 20px;
    min-height: 36px;

}

.span {
    color: #0080FF;

    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.input {
}

.pen {
}