.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    color: #C00;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.input {
    all: unset;
    min-width: 356px;
    border: 1px solid #D1D1D1;
    color: #000;

    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0 8px 12px;

}

.input:focus {
}

.errorInput {
    border-color: #C00;
}

.button {
    all: unset;

    padding: 5px 24px;
    border-radius: 3px;
    opacity: 0.5;
    background-color:  #06C;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    max-height: 26px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;

}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
    color: rgba(0, 0, 0, 0.50);
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
}

.greeting {
}
