.container {
}

.wrapper {
    display: flex;
    align-items: center;
}


.number {
    color: #000;
    min-width: 28px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
